<h1 class="tile">new User</h1>

<form action="" class="user">
<div class="columns is-centered">
<div class="column">
  <label for="name">name:</label>
  <input type="text" name="name">
</div>
<div class="column"> 
 <label for="email">email:</label>
  <input type="e-mail" id="email">
  </div>
<div class="column">
<label for="password">Password</label>
  <input type="password">
  </div>
<div class="column">  <label for="password-conf">confirm password:</label>
  <input type="password" id="password-conf"></div>
  <div>
  <input type="submit" value="submit">
  </div>
</div>
</form>


